/* custom css */

body {
  background: #3498db;
  color: #fff;
}

.title-bar {
  /*position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;*/
  margin-bottom: 30px;
}

/* Flip around the padding for proper display in narrow viewports */
.title-bar > .container {
  padding-right: 30px;
  padding-left: 30px;
}

.title-bar .container {
  width: auto;
}


/* controls */

.carousel-control,
.carousel-caption {
  text-shadow: none !important;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none !important;
  background-repeat: no-repeat !important;
  background: #fff;
}

.carousel-control {
  opacity: 1;
  color: #fff;
  background: none !important;
}

.carousel-control:hover,
.carousel-control:active {
  color: #fff;
}

ol.carousel-indicators {
  margin-bottom: 0px;  
}

.carousel-indicators li {
  border: none;
  background: #fff;
  opacity: 0.5;
}

.carousel-indicators .active {
  opacity: 1.0;
}

.carousel-caption .carousel-indicators {
  position: relative !important;
  bottom: 0;
  margin: 0 auto;
  display: block;
  left: auto;
}

/* slides */

.carousel-inner .item img {
  margin: 0 auto;
  padding-bottom: 180px;
}

/* media queries */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 640px) {

  .title-bar {
    margin-bottom: 120px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-height: 481px) {

  .title-bar {
    margin-bottom: 90px;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) {

  .title-bar {
    margin-bottom: 120px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
